<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <%- include('layout/header') %>
    <div class="about-us-header">
        <img src="/images/aboutUs.jppeg.jpeg" alt="About Us">
    </div>

    <div class="about-us-content">
    <h1>About Us</h1>
    <p class="aboutContent">
        Welcome to PSW Connect, where care meets compassion. At PSW Connect, our mission is to make a meaningful impact
        on the lives of individuals by providing exceptional Personal Support Worker (PSW) services. With a dedicated
        team of skilled professionals, we are committed to delivering personalized and compassionate care that goes
        beyond the ordinary.

        Founded with a vision to enhance the well-being of seniors and those in need, PSW Connect takes pride in
        offering quality home care solutions. Our journey began with a deep understanding of the challenges faced by
        individuals seeking reliable and supportive care. We believe in the power of human connection and strive to
        create a warm and nurturing environment for our clients.

        What sets PSW Connect apart is our unwavering commitment to delivering person-centered care. Our PSWs are not
        just caregivers; they are companions who build genuine relationships with those they serve. We prioritize the
        dignity, independence, and comfort of our clients, ensuring they receive the attention and support they deserve.

        As we embark on this journey, our goal is to redefine home care and set new standards for excellence. PSW
        Connect is more than a service; it's a community built on trust, empathy, and a shared commitment to enhancing
        the quality of life for those we serve.

        Join us in creating a future where care is synonymous with kindness, and every individual can age with grace and
        dignity in the comfort of their own home. Thank you for choosing PSW Connect—your partner in care and
        compassion.
    </p>

</div>

    <%- include('layout/footer') %>
</body>
</html>