<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('layout/header') %>
    <!-- Full Width Image -->
    <img src="/images/contactUs.jpeg" alt="Contact Us" class="full-width-image">

    <div class="about-us-content">
        <h1>Contact Us</h1>

        <p>We appreciate your interest in PSW Connect. If you have any questions, inquiries, or if you would like to discuss
        your specific care needs, our team is here to assist you. Feel free to reach out to us using the contact information
        below:</p>
        
        <h2>Address: 16 abc road, Kitchener, Canada</h2>
        

        <h2>Phone: +1 (123)(234)(1234)</h2>
       

        <h2>Email: psw@yopmail.com</h2>
        

        <p>Our dedicated customer support team is available during business hours to provide assistance and answer any queries
            you may have. Whether you are looking for information about our services, want to discuss a personalized care plan,
            or simply need guidance, we are here to help.
        
            For general inquiries, you can also use the contact form provided on this page. Please fill out the required fields,
            and we will get back to you as soon as possible.
        
            Thank you for considering PSW Connect. We look forward to the opportunity to serve you and provide the care and
            support you deserve.</p>
    </div>


    <%- include('layout/footer') %>

</body>
</html>
