<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('layout/header') %>

    <!-- Location Map Image or Embed -->
    <div class="map-container">
        <img src="/images/locations.jpeg" alt="Service Locations Map" class="location-map">
    </div>

    <!-- Content Section -->
    <div class="about-us-content">
        <p class="aboutContent">
            PSW Connect is proud to extend our high-quality Personal Support Worker (PSW) services to various locations, ensuring that individuals in need can access compassionate care in the comfort of their own homes. Our dedicated team serves the following locations:
        </p>
        <ul class="aboutContent ">
            <li>Kitchener: 9053 Water Dr.
                Kitchener, ON N3W 3S2</li>
            <li>Kitchener: 9053 Water Dr.
                Kitchener, ON N3W 3S2</li>
            <li>Cambridge: 9053 Water Dr.
                Cambridge, ON N3W 3S2</li>
            <li>Cambridge: 9053 Water Dr.
                Cambridge, ON N3W 3S2</li>
            <li>Waterloo: 9053 Water Dr.
                Waterloo, ON N3W 3S2</li>
        </ul>
        <p class="aboutContent">
            If you reside in or around these areas, PSW Connect is ready to provide you with exceptional care tailored to your unique needs. Our goal is to make a positive impact on the lives of individuals in every community we serve.
        </p>
        <p class="aboutContent">
            For more information about our services in specific locations or to inquire about availability in your area, please contact us. We look forward to being your trusted partner in care.
        </p>
    </div>

    <%- include('layout/footer') %>

</body>
</html>
