<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('layout/header') %>

 <!-- Full Width Image -->
 <img src="/images/privacyPolicy.jpeg" alt="Privacy Policy" class="full-width-image">

 <!-- Privacy Policy Section -->
 <section class="about-us-content">
     <h2>Privacy Policy</h2>

     <p>Your privacy is important to us. It is PSW Connect's policy to respect your privacy regarding any information we may collect from you across our website.</p>

     <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>

     <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>

     <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites and cannot accept responsibility or liability for their respective privacy policies.</p>

     <p>By using our website, you consent to our Privacy Policy and agree to its terms.</p>

     <p>If you have any questions about this Privacy Policy, please contact us.</p>
 </section>

    

    <%- include('layout/footer') %>

</body>
</html>
