<footer>
    <div class="footer-container">
        <div class="footer-links">
            <ul>
                <li><a href="/location">LOCATIONS</a></li>
                <li><a href="/contactUs">CONTACT US</a></li>
                <li><a href="/privacyPolicy">PRIVACY POLICY</a></li>
                <li><a href="/aboutUs">ABOUT US</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank"><img src="/images/facebookLogo.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="/images/instagramLogo.jpeg" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="/images/twitterLogo.jpeg" alt="Twitter"></a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 PSW Connect. All rights reserved.</p>
        </div>
    </div>
</footer>
