<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/images/logo.png" alt="PSW Connect Logo">
            <span class="tagline">PSW Connect </span>
        </div>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/services">SERVICES</a>
                    <li><a href="/userDashBoard">DASHBOARD</a>
                    <li><a href="/aboutUs">ABOUT US</a></li>
                        <li><a href="/register">REGISTER</a></li>
                        <li><a href="/meetUs">MEET US</a></li>
                        <li><a href="/login">LOGIN</a></li>

                        
                        <% if (typeof isLogedIn !== 'undefined' && isLogedIn) {%>
                            <li><a href="/logout">LOGOUT</a></li>
                        <% } %>
                </li>
            </ul>
        </nav>
    </header>